<div class="max-w-md">
    <div class="text-5xl font-bold my-4">
        {{ section.settings.title }}
    </div>
    <div class="my-4">
        <p class="text-base md:text-xl leading-normal">{{ section.settings.subtext_title }}</p>
    </div>
    <div class="my-4">
        {% if section.settings.button_url == blank %}
            {% assign shop_url = shop.secure_url %}
        {% else %}
            {% assign shop_url = section.settings.button_url %}
        {% endif %}
        <a href="{{ shop_url }}" class="text-gray-900 bg-gradient-to-r from-lime-200 via-lime-400 to-lime-500 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-lime-300 dark:focus:ring-lime-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">{{ section.settings.button_label }}</a>
    </div>
</div>


<!-- Start of Page Schema -->
{% schema %}
{
    "name": "Template 404",
    "tag": "section",
    "class": "flex items-center justify-center text-center py-7 h-screen",
    "settings": [
            {
                "type": "text",
                "id": "title",
                "default": "404",
                "label": "404 Heading Title"
            },
            {
                "type": "text",
                "id": "subtext_title",
                "default": "Sorry, the page you are looking for does not exist.",
                "label": "404 Subtext Title"
            },
            {
                "type": "text",
                "id": "button_label",
                "default": "Back to Homepage",
                "label": "Button Label"
            },
            {
                "type": "url",
                "id": "button_url",
                "label": "Button URL"
            }
        ]
}
{% endschema %}